@tailwind base;
@tailwind components;
@tailwind utilities;  

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    /* fill the viewport */
    box-sizing: border-box;
    /* include padding/border in size */
    overflow: hidden;
    /* hide any accidental overflow */
}

